img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul.list-style,
ol.list-style {
  padding: 0;
}

ul.list-style li::marker,
ol.list-style li::marker {
  color: $accent-1;
}

.unstyled {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.container-fluid {
  @media (min-width: 1200px) {
    padding: 0 5vw;
    width: 100%;
  }

  padding-right: calc(var(--bs-gutter-x)* .75);
  padding-left: calc(var(--bs-gutter-x)* .75);

  @media (max-width: 575px) {
    --bs-gutter-x: 2rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
  }
  
}

.page-content {
  margin: clamp(14px, 1.198vw, 40px) 0;
}
.x-hidden{
  overflow-x: hidden;
}

/*-------------------------
  Typography
-------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  color: $dark-gray;
  background-color: $light-white;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: clamp(16px, 0.938vw, 22px);
  font-weight: 400;
  line-height: 140%;
  height: 100%;
  @include media-query(490px){
    font-size: 14px;
  }
}

a {
  display: inline-block;
  text-decoration: none;
  color: unset;
  transition: $transition;

  &:hover {
color: $accent-1;
transition: $transition;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
address,
p,
pre,
blockquote,
table,
hr {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    color: inherit;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: $black-2;
  margin-bottom: 0;
}

h1,
.h1 {
  color: #0F0F0F;
  font-family: $font-sec;
  font-size: clamp(45px,3.594vw,75px);
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.76px;
  text-transform: capitalize;

  @include media-query(1199px) {
    font-size: clamp(60px, 4.837vw, 69px); /* 58px */
  }

  @include media-query(820px) {
    font-size: clamp(40px, 5.61vw, 58px); /* 46px */
  }
  @include media-query(576px) {
    font-size: clamp(25px, 5.61vw, 58px); /* 46px */
  }
  @include media-query(320px) {
    font-size: clamp(22px, 5.61vw, 58px); /* 46px */
  }
}

h2,
.h2 {
  font-family: $font-sec;
  font-size: clamp(40px, 2.865vw, 72px); 
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 66px */

  @include media-query(1199px) {
    font-size: clamp(39px, 3.586vw, 52px); /* 43px */
  }

  @include media-query(820px) {
    font-size: clamp(33px, 2.634vw, 48px); /* 38px */
  }
  @include media-query(576px){
    font-size:  clamp(34px, 2.431vw ,48px);
  }
@include media-query(320px){
  font-size:  clamp(32px, 3.5vw, 48px);
}
}

h3,
.h3 {
  font-size: clamp(30px,2.292vw,50px);
  font-family: $font-sec;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;

  @include media-query(1200px) {
    font-size: clamp(24px, 2.086vw, 48px); /* 37px */
  }

  @include media-query(820px) {
    font-size: clamp(28px, 2.902vw, 38px); /* 32px */
  }

}

h4,
.h4 {
  font-family: $font-sec;
 font-size: clamp(20px,1.823vw,40px);
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 42px */

  @include media-query(1199px) {
    font-size: clamp(29px, 2.752vw, 40px); /* 33px */
  }

  @include media-query(820px) {
    font-size: clamp(23px, 3.293vw, 30px); /* 27px */
  }
}

h5,
.h5 {
  font-family: $font-sec;
  font-size: clamp(15px,1.458vw,30px);
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 33.6px */

  @include media-query(1199px) {
    font-size: clamp(23px, 2.085vw, 32px); /* 25px */
  }

  @include media-query(820px) {
    font-size: clamp(19px, 2.439vw, 24px); /* 20px */
  }
}

h6,
.h6 {
  font-family: $font-sec;
  font-size: clamp(16px,1.198vw,25px);
  font-size: clamp;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 27.6px */

  @include media-query(1199px) {
    font-size: clamp(21px, 1.918vw, 28px); /* 23px */
  }

  @include media-query(820px) {
    font-size: clamp(18px, 2.317vw, 21px); /* 19px */
  }
 @include media-query(576px){
  font-size: clamp(15px, 2.317vw, 21px);
 }
}

.text-18,p {
  font-family: $font-primary;
  font-size: clamp(15px, 0.938vw, 25px);
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  @include media-query(399px){
    font-size: 14px;
  }
}

.eyebrow {
  color: $accent-1;
  text-transform: uppercase;
  font-size: clamp(16px, 0.938vw, 22px); /* 18px */
  font-family: $font-primary;
  font-weight: 600;
  line-height: 120%;

  /* 24px */
  @include media-query(1199px) {
    font-size: clamp(15px, 1.418vw, 21px);
  }

}

.subtitle{
  font-size: 14px; /* 14px */
  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; 
  @include media-query(1499px){
    font-size: 15px;
  }
}
.caption{
  font-size: clamp(12px, 0.677vw, 16px);  /* 13px */
  font-style: normal;
  font-weight: 400;
  line-height: 120%; 
  @include media-query(1499px){
    font-size: 13px;
  }
}

span {
  display: inline-block;
}

b,
strong {
  font-family: $font-primary;
}

.hr-line{
  width: 100%;
  height: 1px;
  background: $lightest-gray;
}